Source: ros-groovy-compressed-image-transport
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-cv-bridge, ros-groovy-dynamic-reconfigure, ros-groovy-image-transport, ros-groovy-tf
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-groovy-compressed-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-cv-bridge, ros-groovy-dynamic-reconfigure, ros-groovy-image-transport, ros-groovy-tf
Description: Compressed_image_transport provides a plugin to image_transport for transparently sending images encoded as JPEG or PNG.
